<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo-tarsus-cara.png" width="60" class="d-inline-block align-top" alt="">
      Tarsus
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="">Login</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <form class="ml-auto">
        <ul class="navbar-nav ml-auto text-white">
          <li class="nav-item">
              <a class="navbar-brand">Login</a>
          </li>
          <li class="nav-item">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </li>
          <li class="nav-item">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </li>
          <li class="nav-item">
              <button type="button" class="btn btn-primary">Entrar</button>
          </li>
        </ul>
      </form>
      <!--<form #heroForm="ngForm" class="ml-auto" id="cadastro">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" name="email" class="form-control" [(ngModel)]="login.email" #email="ngModel" required>
            <label for="senha">Senha</label>
            <input type="password" name="senha" class="form-control" minlength="8" [(ngModel)]="login.senha" #senha="ngModel" required>
          </div>
        <button [disabled]="heroForm.invalid" type="button" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
      </form>-->
    </div>
  </div>
</nav>
<!--<a routerLink="/cadastro-component" routerLinkActive="active">Crisis Center</a>>-->
<router-outlet></router-outlet>