<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" id="mainNav">
  <div class="container text-center">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo-tarsus-cara.png" width="60" class="d-inline-block align-top" alt="">
      Tarsus
    </a>
    <button *ngIf="usuarioService.islogado == false" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="">Login</span>
    </button>
    <div *ngIf="usuarioService.islogado == false" class="collapse navbar-collapse" id="navbarsExampleDefault">
      <form #heroForm="ngForm" class="ml-auto">
        <ul class="navbar-nav ml-auto text-white">
          <li class="nav-item">
            <a class="navbar-brand">Login</a>
          </li>
          <li class="nav-item">
            <input type="text" name="email" class="form-control" [(ngModel)]="login.email" #email="ngModel" required placeholder="Enter email">
          </li>
          <li class="nav-item">
            <input type="password" name="senha" class="form-control" [(ngModel)]="login.senha" #senha="ngModel" required placeholder="Password">
          </li>
          <li class="nav-item">
            <button [disabled]="heroForm.invalid" type="button" class="btn btn-primary" (click)="entrar()">Entrar</button>
          </li>
        </ul>
      </form>
    </div>
    Olá
  </div>
</nav>
<!--<a routerLink="/cadastro-component" routerLinkActive="active">Crisis Center</a>>-->
<router-outlet></router-outlet>