
.col-12{
	border-radius: 10px;
	background-color:white;
	padding: 20px;
}
.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}
.estrelas label {
	font-size: 3em;
}
.row{
	margin-top: 50px;
}
@media (min-width: 1250px){
	header{
		background: #00FFFF;
	    background: -webkit-linear-gradient(#00FFFF, black);
	    background: -o-linear-gradient(#00FFFF, black);
	    background: -moz-linear-gradient(#00FFFF, black);
	    background: linear-gradient(#00FFFF, black);
		background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center;
	    background-size: cover;
		height: 100vh;
	}
}