.local{
	background-color:#666;
	border-radius: 10px;
	background: rgba(122, 130, 136, 0.4);
	padding: 20px;
}
header{
	background-image: url(../../assets/img/alexander-popov-365743.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
	min-height: 100vh; 
}
h3{
	text-align: center;
}
form{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.list-group-item{
	background-color: #5bc0de;
	color: white;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.magnifying-glass{
	background-color: #fff;
}
@media (min-width: 1250px){
	form{
		width: 500px;
	}
	.navbar-toggleable-md .navbar-toggler{
		display: block;
		position: fixed;
	}
	div.scroll {
		overflow: auto;
		max-height: 30em;
		padding-bottom: 20px;
	}
	.btn-warning{
		margin-top: 20px;
	}
}