<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto text-white">
      <h3>Você está em algum desses lugares?</h3>
        <form class="ml-auto" action="cadastro">
            <div class="form-check local">
              <button type="button" class="btn btn-info btn-lg btn-block">Balada 1</button>
          </div>
          <div class="form-check local">
              <button type="button" class="btn btn-info btn-lg btn-block">Balada 2</button>
          </div>
          <a href="#" id="buscar" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">Não estou nesses locais</a>
        </form>
      </div>
    </div>
  </div>
</header>