<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto text-white">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3>Você está em algum desses lugares?</h3>
        <form class="ml-auto">
          <div class="scroll">
            <div class="list-group">
              <div class="form-check local">
                <button type="button" class="btn btn-lg list-group-item list-group-item-action justify-content-between btn btn-info btn-lg btn-block">Balada 1<span class="badge badge-default badge-pill">Nota 5</span></button>
              </div>
              <div class="form-check local">
                  <button type="button" class="btn btn-lg list-group-item list-group-item-action justify-content-between btn btn-info btn-lg btn-block">Balada 1<span class="badge badge-default badge-pill">Nota 5</span></button>
              </div>
              <div class="form-check local">
                  <button type="button" class="btn btn-lg list-group-item list-group-item-action justify-content-between btn btn-info btn-lg btn-block">Balada 1<span class="badge badge-default badge-pill">Nota 5</span></button>
              </div>
              <div class="form-check local">
                  <button type="button" class="btn btn-lg list-group-item list-group-item-action justify-content-between btn btn-info btn-lg btn-block">Balada 1<span class="badge badge-default badge-pill">Nota 5</span></button>
              </div>
              <div class="form-check local">
                  <button type="button" class="btn btn-lg list-group-item list-group-item-action justify-content-between btn btn-info btn-lg btn-block">Balada 1<span class="badge badge-default badge-pill">Nota 5</span></button>
              </div>
              <div class="form-check local">
                  <button type="button" class="btn btn-lg list-group-item list-group-item-action justify-content-between btn btn-info btn-lg btn-block">Balada 1<span class="badge badge-default badge-pill">Nota 5</span></button>
              </div>
              <div class="form-check local">
                  <button type="button" class="btn btn-lg list-group-item list-group-item-action justify-content-between btn btn-info btn-lg btn-block">Balada 1<span class="badge badge-default badge-pill">Nota 5</span></button>
              </div>
            </div>
          </div>
          <a href="#" id="buscar" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">Não estou nesses locais</a>
        </form>
      </div>
    </div>
  </div>
</header>